.navigation {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(50px, 60px);
    margin-right: -8%;
    border-bottom: solid;
    align-items: center;
}

#title {
    font-size: 160%;
    align-content: center;
}

.welcome {
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
    margin-top: 0;
    margin-bottom: -24em;;
    margin-left: 10em;
    margin-right: 10em;
    position: relative;
    bottom: 40vw;
}

#big-text {
    font-size: 250%;
}

.image {
    opacity: 0.6;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bulk {
    display: grid;
    padding-top: 40px;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    align-items: center;
    justify-items: center;
}

#tucker {
    grid-row-start: 1;
    grid-column-start: 1;
}

#hemsworth {
    grid-row-start: 1;
    grid-column-start: 3;

}

#evans {

    grid-row-start: 2;
    grid-column-start: 2;

}

.par1 {
    grid-row-start: 1;
    grid-column-start: 2;
    justify-items: center;
    font-size: larger;
}

.par2 {
    justify-items: center;
    font-size: larger;
}

.par3 {
}
