.navigation {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(50px, 60px);
    margin-right: -8%;
    border-bottom: solid;
    align-items: center;
}

#title {
    font-size: 160%;
    align-content: center;
}

#recruitment {
    position: relative;
    bottom: 9vw;
    left: 1vw;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250%;
}

img {
    width: 1440px;
    height: 400px;
    object-fit: cover;
    margin-bottom: -100px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1440px;
    margin: 20px auto;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;

}

.form {
    background-color: #EDF5E1;
    position: relative;
    top: 3em;
    max-width: 1000px;
}

div {
    padding: .4em;
}

legend {
    border: solid;
    position: relative;
    bottom: 1.4em;
    background-color: #EDF5E1;
    margin-right: 98em;
}

#Name {
    position: relative;
    left: 10em;
}

#body-count {
    position: relative;
    left: 1.71em;
}

.name {
    position: relative;
    bottom: 1.1em;
}

#rights-label {
    display: inline-block;
    width: 300px;
    padding-top: 1.5em;
}

.checkbox {
    position: relative;
    left: 17.2em;
    bottom: 2.4em;
}

.text {
    position: relative;
    bottom: 2em;
}

#comments {
    display: inline-block;
    height: 50px;
    position: relative;
    left: 12.2em;
}

#submit {
    position: relative;
    left: 17.3em;
}
